
/* Appearance */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(14, 97, 179);
    padding: 0;
    margin: 0;
    height: auto;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    background-color: rgb(14, 97, 179);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

.logo {
    display: block;
    width: 174px;
    height: 140px;
    clip-path: ellipse(50% 50%);
    shape-outside: ellipse(50% 50%);
    border: 5px solid rgb(0, 191, 255);
    border-radius: 50%;
    background-color: #fff;
}

.button.is-info {
    color: #007FFF;
    border-color: #007FFF;
}

.header .button.is-info {
    background-color: rgb(184, 237, 255);
    color: rgb(0, 149, 255);
    border-color: rgb(0, 149, 255);
}

/* Text */

h2 {
    font-weight: bold;
    font-size: xx-large;
}

h3 {
    font-weight: bold;
    font-size: x-large;
}

h4 {
    font-weight: bold;
    font-size: larger;
}

p {
    font-size: larger;
}

/* Grid */

.grid-standard {
  height: 100%;
}

/* Shimmering Effect */

.button.is-info {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button.is-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(0, 127, 255, 0.2) 0%,
    rgba(144, 184, 255, 0.5) 50%,
    rgba(0, 127, 255,0.2) 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
  opacity: 0;           /* hide initially */
  transition: opacity 0.2s ease;
}

.button.is-info:hover::before {
  opacity: 1;           /* show on hover */
  animation: shimmer 1s forwards;
}

@keyframes shimmer {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}